<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= metaTitle %> - M-Todo</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <div class="brand">
            <div class="logo">
              <span>M</span>
              <span>-Todo</span>
            </div>
          </div>
        </a>
      </nav>
    </header>

