<header>
  <nav>
    <a href="/">
      <div class="brand">
        <div class="logo">
          <span>M</span>
          <span>-Todo</span>
        </div>
      </div>
    </a>
    <div class="auth">
      <a href="<%= authPath %>">
        <% if (authPath === '/sign-up') { %> 
        Sign Up
        <% } else if (authPath === '/login') { %> 
        Login 
        <% } else { %> 
        Logout 
        <% } %>
      </a>
    </div>
  </nav>
</header>
